
# Dependencies
node_modules/
.env
.venv
venv
__pycache__/
*.pyc
.pytest_cache

# Playwright
test-results/
playwright-report/
playwright/.cache/
/blob-report/
sample-react-app/test-results/
sample-react-app/playwright-report/

# Project specific
logs/*.json
logs/*.log
dom_snapshots/*.html



# IDE
.vscode/
.DS_Storevenv/
